<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scientists.happy.botanist">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <receiver android:name=".services.BirthdayReceiver" />
        <receiver android:name=".services.HeightMeasureReceiver" />
        <receiver android:name=".services.FertilizerReceiver" />
        <receiver android:name=".services.WaterReceiver" />
        <receiver android:name=".services.UpdatePhotoReceiver" />

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.ProfileActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scientists.happy.botanist.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.SimilarPlantsActivity"
            android:label="@string/title_activity_similar_plants"
            android:parentActivityName=".ui.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scientists.happy.botanist.ui.ProfileActivity" />
        </activity>

        <activity
            android:name=".ui.DiseaseActivity"
            android:label="@string/title_activity_disease"
            android:parentActivityName=".ui.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scientists.happy.botanist.ui.ProfileActivity" />
        </activity>

        <activity
            android:name=".ui.AddPlantActivity"
            android:label="@string/title_activity_add_plant"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scientists.happy.botanist.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scientists.happy.botanist.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scientists.happy.botanist.ui.MainActivity" />
        </activity>

    </application>

</manifest>